@using TestingAndCertificationSystem.Resources

@model TestingAndCertificationSystem.Test

@{
    var testid = Context.Request.Query["testId"];
}

    <div class="col-md-10">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="text-gradient-orange2">@Model.Name</h2>
                    <span class="text-muted">@Model.Description</span>
                </div>
                <div class="col-md-6">
                    <span class="font-weight-bold text-muted">Test Duration: </span>@Model.DurationInMinutes minutes
                    <br /><span class="font-weight-bold text-muted">Questions in test: </span>@ViewBag.QuestionCount
                    @if (Model.IsActive == true)
                    {
                        <br /><div><span class="font-weight-bold text-muted">Test will be closed at </span>@Model.TokenEndTime</div>
                    }

                </div>
            </div>
            <br /><br />

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 border-right">
                            <span class="text-gradient-orange2" style="font-size: x-large;">
                                <b>@ViewBag.Company.FullName</b>
                            </span>
                            <br /><small class="text-muted">@ViewBag.Company.Description</small>
                            <br /><br /><i class="fas fa-globe orange2"></i>&nbsp;
                                <a target="_blank" rel="noopener noreferrer" href="@ViewBag.Company.WebsiteUrl">@ViewBag.Company.WebsiteUrl</a>
                        </div>
                        <div class="col-md-6">
                            <span class="text-gradient-orange2" style="font-size: larger">
                                <b>@ViewBag.TestAuthor.FirstName&nbsp;@ViewBag.TestAuthor.LastName</b>&nbsp;
                                <i class="far fa-user"></i>
                            </span>
                            <br /><small class="text-muted">Employee of @ViewBag.Company.FullName</small>
                            <br />
                            <br />
                            <table class="table table-borderless table-sm">
                                <tbody>
                                    <tr>
                                        <td style="width: 1%; white-space: nowrap"><i class="fas fa-file-alt orange1"></i></td>
                                        <td>@ViewBag.TestAuthor.Description</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 1%; white-space: nowrap"><i class="fas fa-phone orange1"></i></td>
                                        <td>@ViewBag.TestAuthor.Email</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 1%; white-space: nowrap"><i class="fas fa-envelope orange1"></i></td>
                                        <td>@ViewBag.TestAuthor.Phone</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            @if (Model.IsActive == true)
            {
                <div>
                    <h5 class="text-muted">Read the following instruction before starting your attempt:</h5>
                    <br />
                    @Model.Instruction

                    <br />
                    <br />
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (!User.IsInRole(Roles.CompanyAdmin))
                        {
                            @if (ViewBag.UserHaveAccess == null || ViewBag.UserHaveAccess == true)
                            {
                                <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#Model_start">
                                    Start test
                                </button>
                                <div class="modal fade" id="Model_start" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title orange2" id="exampleModalLabel">@Model.Name</h5>
                                            </div>
                                            <div class="modal-body">
                                                Do you want to start test?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                                                <form asp-controller="Tests" asp-action="Registration" asp-route-testId="@testid">
                                                    <button type="submit" class="btn btn-sm btn-success">Yes, start test</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger" role="alert">
                                    You don't have access to this private test. Contact test author for details.
                                </div>
                            }


                        }
                    }
                    else
                    {
                        <div class="alert alert-info" role="alert">
                            You have to login first. If you don`t have an account yet - register.
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    This test is closed. Contact test author for more information.
                </div>
            }

        </div>
    </div>
