@model TestingAndCertificationSystem.Test
@{
    var i = 0;
}

<div class="col-md-10">
    <h2 class="text-gradient-orange2">
        @Model.Name
        <a asp-controller="Tests" asp-action="Instruction" asp-route-testId="@Model.Id" method="post"><i class="far fa-file-alt"></i></a>
    </h2>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <i class="fas fa-caret-left orange1"></i>
    <a class="btn-link orange1" asp-controller="Tests" asp-action="Tests">
        Back to tests
    </a>
    <br />
    <br />
</div>

<div class="card border-orange2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="nav-info-tab" data-toggle="pill" href="#nav-info" role="tab" aria-controls="nav-info" aria-selected="true">
                    Test Information
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-instruction-tab" data-toggle="pill" href="#nav-instruction" role="tab" aria-controls="nav-instruction" aria-selected="false">Instruction text</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-task-tab" data-toggle="pill" href="#nav-task" role="tab" aria-controls="nav-task" aria-selected="false">Additional task</a>
            </li>
        </ul>
    </div>
    <div class="card-body align-content-lg-start">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@Model.Description</li>
                    <li class="list-group-item"><span class="text-gradient-orange2 font-weight-bold">Time allowed: </span>@Model.DurationInMinutes min</li>
                    <li class="list-group-item">
                        <div class="row">
                            <div>
                                <span class="text-gradient-orange2 font-weight-bold">&nbsp;&nbsp;&nbsp;Total questions: </span>@Model.Question.Count
                            </div>
                            <div style="margin-left:auto">
                                <a class="btn btn-sm btn-success" asp-controller="Tests" asp-action="CreateQuestion" asp-route-testId=@Model.Id>Add questions</a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item"><span class="text-gradient-orange2 font-weight-bold">Certificate allowed: </span>@Model.Certificate</li>
                    <li class="list-group-item">
                        @if (Model.IsPrivate == true)
                        {
                            <div class="row">
                                <div>
                                    <span class="text-gradient-orange2 font-weight-bold">&nbsp;&nbsp;&nbsp;Test is private</span>
                                </div>
                                <div style="margin-left:auto">
                                    <a class="btn btn-sm btn-info" asp-area="" asp-controller="Tests" asp-action="VerifiedUsers" asp-route-testId="@Model.Id">Verified users : @ViewBag.VerifiedUsersCount</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <span class="text-gradient-orange2 font-weight-bold">Test is public</span>
                        }
                    </li>
                    <li class="list-group-item">
                        @{
                            if (Model.IsActive == true)
                            {
                                <div class="row">
                                    <div>
                                        <span class="text-gradient-orange2 font-weight-bold">&nbsp;&nbsp;&nbsp;Active since </span>
                                        @Model.TokenStartTime<span class="text-gradient-orange2 font-weight-bold"> to: </span>@Model.TokenEndTime
                                    </div>
                                    <div style="margin-left:auto">
                                        <form asp-controller="Tests" asp-action="ChangeActivityStatusTest" asp-route-testId="@Model.Id" method="post">
                                            <button type="submit" class="btn btn-sm btn-danger"> Deactivate </button>
                                        </form>
                                    </div>
                                </div>
                            }
                            else
                            {
                                @if (TempData["ErrorMessage"] != null)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        @TempData["ErrorMessage"]
                                    </div>
                                }

                                <form asp-controller="Tests" asp-action="ChangeActivityStatusTest" asp-route-testId="@Model.Id" method="post">
                                    <div class="row">
                                        <div>
                                            <div class="form-group">
                                                <input id="endingDateTime" type="datetime-local" name="endingDateTime" class="form-control" />
                                            </div>
                                        </div>
                                        <div style="margin-left:auto">
                                            <button type="submit" class="btn btn-sm btn-success"> Activate </button>
                                        </div>
                                    </div>
                                </form>
                            }
                        }
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div>
                                <a class="btn btn-success" asp-area="" asp-controller="Tests" asp-action="EditTest" asp-route-testId="@Model.Id">Edit test</a>
                            </div>
                            <div style="margin-left:auto">
                                <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#Model_@Model.Id">
                                    Remove
                                </button>

                                <div class="modal fade" id="Model_@Model.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title orange2" id="exampleModalLabel">Delete test</h5>
                                            </div>
                                            <div class="modal-body">
                                                Do you want to delete <b class="text-gradient-orange1">@Model.Name</b> test?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                                                <form asp-controller="Tests" asp-action="DeleteTest" asp-route-testId="@Model.Id" method="post">
                                                    <button type="submit" class="btn btn-sm btn-danger"> Delete test </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="tab-pane fade" id="nav-instruction" role="tabpanel" aria-labelledby="nav-instruction-tab">
                <div>
                    @Model.Instruction
                </div>
            </div>

            <div class="tab-pane fade" id="nav-task" role="tabpanel" aria-labelledby="nav-task-tab">
                @if (Model.AdditionalTask == null)
                {
                    <br />
                    <h4><b>This test has no additional task</b></h4>
                    <br />
                    <br /><a class="btn btn-success" asp-controller="Tests" asp-action="CreateAdditionalTask" asp-route-testId=@Model.Id>Create task</a>
                }
                else
                {
                    <br />
                    <br />
                    @Model.AdditionalTask.Name
                    <br />@Model.AdditionalTask.RecipientEmail
                    <br />@Model.AdditionalTask.Text
                    <br />@Model.AdditionalTask.ExpirationDate
                    <br />

                    <br /><a class="btn btn-success" asp-area="" asp-controller="Tests" asp-action="EditAdditionalTask" asp-route-taskId="@Model.AdditionalTaskId">Edit additional task</a>

                    <form asp-controller="Tests" asp-action="DeleteAdditionalTask" asp-route-taskId="@Model.AdditionalTask.Id" , asp-route-testId="@Model.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

<br />

@foreach (var question in Model.Question)
{
    i++;
    <div class="col-md-10">
        <div class="card border-orange2">
            <div class="row">
                <div class="col-md-4 border-right" style="width: 200px; max-width: 200px;">
                    <div class="card-body">
                        <label class="font-weight-bold text-gradient-orange2" style="font-size:22px">Question @i</label>
                        <br />
                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#Model_@question.Id">
                            Delete
                        </button>
                        <div class="modal fade" id="Model_@question.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title orange2" id="exampleModalLabel">Delete question</h5>
                                    </div>
                                    <div class="modal-body">
                                        Do you want to remove this question?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                                        <form asp-controller="Tests" asp-action="DeleteQuestion" asp-route-questionId="@question.Id" , asp-route-testId="@Model.Id" method="post">
                                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@question.Text</h5>
                        <p class="card-text">
                            @foreach (var choice in question.Choice)
                            {
                                if (choice.Points == 0)
                                {
                                    <h6 class="card-title text-danger"><i class="fas fa-caret-right"></i>&nbsp;@choice.Text </h6>
                                }
                                else
                                {
                                    <h6 class="card-title text-success"><i class="fas fa-caret-right"></i>&nbsp;@choice.Text </h6>
                                }
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
}

