@model TestingAndCertificationSystem.Test
@{
    var i = 0;
}

<h2>@Model.Name</h2>
<br />

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="nav-info-tab" data-toggle="pill" href="#nav-info" role="tab" aria-controls="nav-info" aria-selected="true">Test Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-instruction-tab" data-toggle="pill" href="#nav-instruction" role="tab" aria-controls="nav-instruction" aria-selected="false">Instruction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-task-tab" data-toggle="pill" href="#nav-task" role="tab" aria-controls="nav-task" aria-selected="false">Additional task</a>
            </li>
        </ul>
    </div>
    <div class="card-body align-content-lg-start">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                <form asp-controller="Tests" asp-action="Instruction" asp-route-testId="@Model.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger"> INSTRUCTION </button>
                </form>

                <a class="btn btn-success" asp-area="" asp-controller="Tests" asp-action="EditTest" asp-route-testId="@Model.Id">Edit test</a>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@Model.Description</li>
                    <li class="list-group-item"><b>Time allowed: </b>@Model.DurationInMinutes</li>
                    <li class="list-group-item"><b>Total questions: </b>@Model.Question.Count</li>
                    <li class="list-group-item"><b>Certificate allowed: </b>@Model.Certificate</li>
                    <li class="list-group-item"><b>Is private: </b>@Model.IsPrivate</li>
                    <li class="list-group-item">
                        @{
                            if (Model.IsActive == true)
                            {
                                <div class="row">
                                    <div>
                                        <b>&nbsp;&nbsp;&nbsp;Active since </b>@Model.TokenStartTime<b> to: </b>@Model.TokenEndTime
                                    </div>
                                    <div style="margin-left:auto">
                                        <form asp-controller="Tests" asp-action="ChangeActivityStatusTest" asp-route-testId="@Model.Id" method="post">
                                            <button type="submit" class="btn btn-sm btn-danger"> Deactivate </button>
                                        </form>
                                    </div>
                                </div>
                            }
                            else
                            {
                                @if (TempData["ErrorMessage"] != null)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        @TempData["ErrorMessage"]
                                    </div>
                                }

                                <form asp-controller="Tests" asp-action="ChangeActivityStatusTest" asp-route-testId="@Model.Id" method="post">
                                    <div class="row">
                                        <div>
                                            <div class="form-group">
                                                <input id="endingDateTime" type="datetime-local" name="endingDateTime" class="form-control" />
                                            </div>
                                        </div>
                                        <div style="margin-left:auto">
                                            <button type="submit" class="btn btn-sm btn-success"> Activate </button>
                                        </div>
                                    </div>
                                </form>
                            }
                        }
                    </li>
                </ul>
            </div>

            <div class="tab-pane fade" id="nav-instruction" role="tabpanel" aria-labelledby="nav-instruction-tab">
                <div>
                    @Model.Instruction
                </div>
            </div>

            <div class="tab-pane fade" id="nav-task" role="tabpanel" aria-labelledby="nav-task-tab">
                @if (Model.AdditionalTask == null)
                {
                    <br />
                    <h4><b>This test has no additional task</b></h4>
                    <br />
                    <br /><a class="btn btn-success" asp-controller="Tests" asp-action="CreateAdditionalTask" asp-route-testId=@Model.Id>Create task</a>
                }
                else
                {
                    <br />
                    <br />
                    @Model.AdditionalTask.Name
                    <br />@Model.AdditionalTask.RecipientEmail
                    <br />@Model.AdditionalTask.Text
                    <br />@Model.AdditionalTask.ExpirationDate
                    <br />

                    <br /><a class="btn btn-success" asp-area="" asp-controller="Tests" asp-action="EditAdditionalTask" asp-route-taskId="@Model.AdditionalTaskId">Edit additional task</a>

                    <form asp-controller="Tests" asp-action="DeleteAdditionalTask" asp-route-taskId="@Model.AdditionalTask.Id" , asp-route-testId="@Model.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

<br />
<br />

@foreach (var question in Model.Question)
{
    i++;
    <div class="col-md-10">
        <div class="card">
            <h4 class="card-header">
                <div class="container">
                    <div class="row">
                        <div>
                            Question @i
                        </div>
                        <div style="margin-left:auto">
                            <form asp-controller="Tests" asp-action="DeleteQuestion" asp-route-questionId="@question.Id" , asp-route-testId="@Model.Id" method="post">
                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                            </form>   
                        </div>
                    </div>
                </div>

            </h4>
            <div class="card-body">
                <h6 class="card-title">@question.Text</h6>
                <br />

                @foreach (var choice in question.Choice)
                {
                    if (choice.Points == 0)
                    {
                        <h6 class="card-title text-danger">> @choice.Text </h6>
                    }
                    else
                    {
                        <h6 class="card-title text-success">> @choice.Text </h6>
                    }
                }

            </div>
        </div>
    </div>
    <br />
}

<br />
<br />
<a class="btn btn-success" asp-controller="Tests" asp-action="CreateQuestion" asp-route-testId=@Model.Id>Add questions</a>

